@model IEnumerable<TrabalhoPratico1.Models.Agencia>

@{
    ViewData["Title"] = "Agencias";
}

<br />

<h1>Agências</h1>

<br />

<p>
    <a class="btn btn-dark" asp-action="Create">
       Create new
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AgenciaId"     class="btn btn-dark"> <i class="bi bi-pencil-square"></i>   </a> 
                    <a asp-action="Details" asp-route-id="@item.AgenciaId"  class="btn btn-dark"> <i class="bi bi-three-dots"></i>      </a> 
                    <a asp-action="Delete" asp-route-id="@item.AgenciaId"   class="btn btn-dark"> <i class="bi bi-trash"></i>           </a>
            </td>
        </tr>
}
    </tbody>
</table>
